version: '3.7'

# Services
services:

  # Nginx
  nginx:
    build: ./.docker/nginx
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - ./:/var/www/php
      - ./.docker/nginx/conf.d:/etc/nginx/templates
      - phpmyadmindata:/var/www/phpmyadmin:ro
    environment:
      - NGINX_HOST=${APP_DOMAIN}
      - NGINX_PORT=${APP_PORT}
      - PMA_HOST=${PMA_DOMAIN}
      - MONGOEXPRESS_HOST=${MONGOEXPRESS_DOMAIN}
    depends_on:
      - php
      - phpmyadmin

  # PHP
  php:
    build:
      args:
        user: piccard
        uid: 1000
      context: ./.docker/php
      dockerfile: Dockerfile
    working_dir: /var/www/php
    volumes:
      - ./:/var/www/php
      - ./.docker/php/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./.docker/php/conf.d/docker-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    depends_on:
      - db

  # PHP-CLI for crons
  php-cli:
    build:
      args:
        user: piccard
        uid: 1000
      context: ./.docker/php-cli
      dockerfile: Dockerfile
    working_dir: /var/www/php
    volumes:
      - ./:/var/www/php
      - ./.docker/php/conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    depends_on:
      - php

  # MySQL
  db:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./.docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ${TARGET_DB_PATH}:/var/lib/mysql:rw
      - .docker/mysql:/docker-entrypoint-initdb.d

  # PhpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5-fpm-alpine
    environment:
      PMA_HOST: db
    volumes:
      - phpmyadmindata:/var/www/html
    depends_on:
      - db

  # Node
  node:
    image: node:latest
    volumes:
      - ./:/var/www/html:rw
    working_dir: /var/www/html
    user: node

  # Mongo
  mongodb:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_DB_ROOT_PASSWORD}
      MONGO_INITDB_USERNAME: ${MONGO_DB_USERNAME}
      MONGO_INITDB_PASSWORD: ${MONGO_DB_PASSWORD}
    volumes:
      - ${MONGO_DB_TARGET_PATH}:/data/db

  mongo-express:
    image: mongo-express
    restart: always
#    ports:
#      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_DB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_DB_ROOT_PASSWORD}
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_EXPRESS_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_BASICAUTH_PASSWORD}
      ME_CONFIG_SITE_BASEURL: /
    depends_on:
      - mongodb

# Volumes
volumes:
  phpmyadmindata:
